@use "sass:color";

// Ahora que no hay video se deja sin transparentar.
$header-background: rgba(197, 181, 173, 0.95);
$app-background: rgba(178, 173, 170, 0.95);
$footer-background: rgba(197, 181, 173, 0.95);
$primary-color: rgba(96, 62, 12, 1);
$primary-color-light: rgba(96, 62, 12, 0.75);
$header-nav-color: #674d25;
