@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-Demibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-Extrabold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-ExtraboldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-DemiboldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../assets/fonts/ArsenicaTrial-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

