@use './styles/colors.scss' as *;
@use './styles/fonts.scss' as *;

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw; // fallback clásico para navegadores antiguos
  width: 100dvw; // soportado en navegadores modernos -> ajusta en móviles
  height: 100vh; // fallback clásico para navegadores antiguos
  height: 100dvh; // soportado en navegadores modernos -> ajusta en móviles
  font-family: 'Arsenica Trial', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Añadir padding para respetar las safe areas (ej: notch, barras)
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  box-sizing: border-box; // evita que el padding rompa el layout

  .app {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;

    .header {
      height: 10dvh;
      background-color: $header-background;

      .header-title {
        color: $header-title-color;
      }
    }

    .app-container {
      padding: 0em 1em;
      height: 90dvh;
      background-color: $app-background;
    }

    .app-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; // mantiene proporción y cubre todo
      z-index: -9999;
    }
  }
}