@use "../../styles/colors" as *;

.home-page {
  padding: 1em 20dvw 5em 20dvw;
  display: flex;
  flex-direction: column;
  gap: 7em;

  .first-paragraph {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .text-1 {
      text-align: center;
      font-size: 5dvw;
      color: $primary-color;
    }

    .text-2 {
      text-align: center;
      font-size: 1.75dvw;
      color: $primary-color;
    }

    .text-3 {
      text-align: center;
      font-size: 1dvw;
      color: $primary-color-light;
    }
  }

  .second-paragraph,
  .third-paragraph,
  .fourth-paragraph {
    display: flex;
    flex-direction: row;
    gap: 5em;
    color: $primary-color;
    font-weight: 400;
    font-size: 1dvw;

    .text {
      align-self: center;
      display: flex;
      flex-direction: column;
      gap: 5em;
    }

    .image {
      align-self: center;
      width: 45%;
      border-radius: 15px;
      border: 1px solid $primary-color;
    }
  }

  .fourth-paragraph {
    .final-text {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 1em;
      font-weight: 600;

      .large {
        font-size: 1.25dvw;
      }
    }
  }
}

/* 📱 Responsive */
@media (max-width: 1024px) {
  .home-page {
    padding: 1em 5dvw 5em 5dvw;
    gap: 3.75em;
    .first-paragraph {
      gap: .75em;

      .text-1 {
        font-size: 15dvw;
      }

      .text-2 {
        font-size: 4dvw;
      }

      .text-3 {
        font-size: 2.5dvw;
      }
    }

    .second-paragraph,
    .third-paragraph,
    .fourth-paragraph {
      gap: 2em;
      font-size: 2dvw;

      .text {
        gap: 2em;
      }

      .image {
        width: 50%;
        border-radius: 15px;
      }
    }
  }
}