@use '../../styles/colors.scss' as *;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 2rem;
  min-height: 80px;
  transition: all 0.3s ease-in-out;
  
  // Efecto Glassmorphism
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba($primary-color, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);

  .header-title {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    width: auto;
    color: $primary-color;
    white-space: nowrap;
  }

  .header-navbar {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 60%;
  }

  .header-language-selector {
    width: auto;
    min-width: unset;
  }

  .mobile {
    display: none; // oculto en desktop
  }
}

/* 📱 Responsive */
@media (max-width: 1024px) {
  .header {
    justify-content: space-between;
    padding: 0 1rem;
    height: 10dvh;
    min-height: 60px;

    .desktop {
      display: none; // navbar y selector de idioma de modo desktop ocultos
    }

    .mobile {
      display: block; // botón para abrir el navbar visible
    }

    .header-title {
      width: 60dvw;
      text-align: center;
      font-size: 1em;
    }

    .language-selector {
      min-width: 4em;

      .MuiOutlinedInput-notchedOutline {
        border: none;
      }
    }

  }

  .language-selector-menu {
    .MuiMenu-list {
      .language-selector-item {
        justify-content: center;
      }
    }
  }

  .mobile-drawer {
    width: 250px;
    padding: 1em;

    .navbar {
      flex-direction: column !important;
      align-items: flex-start;

      .nav-link {
        margin: 0.5em 0;
      }

      .navbar-drawer-modal {
        background-color: $header-background;
      }
    }
  }

}